a {
	color: black !important;
}

.nav {
	background-color: #f5f5f5;
	position: fixed;
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	left: 0;
	top: 0px;
	z-index: 99;
	font-family: 'Nanum Gothic', sans-serif;
	.title {
		color: black;
		display: flex;
		align-items: center;
	}
	.bars {
		font-size: 2rem;
	}
}

.nav-menus {
	display: none;
}

.nav-menus.active {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: calc(100vh - 80px);
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 2;
	background-color: #ffffff;
	width: 200px;

	.menu {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: left;
		padding: 0 5vw;
		font-family: 'Nanum Gothic', sans-serif;
	}
}
