.modal-content {
	.modal-header {
		min-height: 75px;
	}
	.modal-content {
		min-height: 625px;
	}
	.img-modal-title-pill {
		width: 50px;
		height: 50px;
		border: 2px solid black;
		border-radius: 50%;
	}

	.div-text-modal-title-pill {
		width: 230px;
		margin: 0 5px;
		.text-modal-title-pill {
			width: 100%;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 0;
		}
	}
}
