.login {
	position: relative;
	top: 80px;
	height: calc(100vh - 80px);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Jua', sans-serif;

	.emoji {
		width: 20px;
		height: 20px;
	}
	.login-container {
		form {
			display: flex;
			flex-direction: column;
			label {
				vertical-align: middle;
				height: 35px;
				margin-right: 5px;
				.icon {
					color: gray;
				}
			}
			input {
				width: 250px;
				height: 35px;
				margin: 10px 0;
			}
			.btn-signup {
				border: 0;
				margin-top: 20px;
			}
		}
	}
}
