#container-signup {
	width: 80%;

	.div-greeting {
		margin: 20px 0;
		span {
			margin-right: 10px;
		}
		#img-thumbs-up {
			width: 25px;
			height: 25px;
		}
	}

	.div-input-info {
		width: 100%;
		margin: 15px 0;
	}

	#btn-signup {
		margin-top: 20px;
	}
}
